@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  background-color: #1f2937;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20%;
}

.header-logo {
  font-weight: bold;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
p {
  margin: 0;
}

.hero-section {
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  padding: 20px 20%;
  gap: 10px;
}

.hero-section-text {
  height: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-section-text p {
  color: hsl(0, 0%, 80%);
}

.hero-section-text button {
  width: 80px;
  border-color: #3882f6;
}

.hero-section-image {
  background-color: #6d747d;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  flex: 1;
}

.info-section {
  padding: 80px 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:  center;
  width: 100px;
  font-size: 10px;
  gap: 6px;
}

.info-card-image {
  width: 90px;
  height: 90px;
  background-color: white;
  border: #3882f6;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.info-card-container {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 80px 25%;
}

.quote {
  font-size: 26px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937af;
}

.quote-author {
  text-align: right;
}

.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20%;
}

.cta-card {
  background-color: #3882f6;
  color: white;
  width: 600px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

button {
  color: white;
  border: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: #3882f6;
  font-weight: bold;
  font-size: 10px;
  padding: 4px 20px;
}

.footer {
  background-color: #1f2937;
  color: white;
  padding: 20px 20%;
  text-align: center;
  margin-top: auto;
  font-size: 10px;
}
