@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  background-color: #1f2937;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20%;
}

.header-logo {
  font-weight: bold;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
p {
  margin: 0;
}

.hero-section {
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  padding: 20px 20%;
}

.hero-section-text {
  height: 50%;
}

.hero-section-image {
  background-color: #6d747d;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.info-section {
  padding: 20px 20%;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 16px 20%;
}

.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20%;
}

.cta-card {
  background-color: #3882f6;
  color: white;
  width: 100%;
  padding: 20px;
  border-radius: 25px;
}

.footer {
  background-color: #1f2937;
  color: white;
  padding: 20px 20%;
  text-align: center;
  margin-top: auto;
}
