@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: beige;
  font-family: sans-serif;

  display: flex;
}

h1 {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.img-section {
  background-image: url(./assets/cafe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  flex: 1;
  position: relative;
}

.img-banner {
  background-color: #3b373762;
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
  font-family: "Young Serif";
  font-size: 4rem;
  color: wheat;
}

.info-section {
  background-color: #f9fafb;
  flex: 2;
  padding: 20vh 0px;
}

.info-section-header {
  padding: 0px 30px;
}

fieldset {
  background-color: #fff;
  padding: 20px 30px;
  border: none;
  box-shadow: 2px 6px 10.9px hsl(0deg 0% 0% / 0.33);
}

fieldset p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

label {
  font-size: 0.6rem;
}

.form-row {
  display: flex;
  gap: 50px;
  margin-top: 15px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

input:focus {
  border-color: rgb(176, 218, 255);
  outline: none;
  box-shadow: 2px 2px 2px hsl(0deg 0% 0% / 0.33);
}

input:invalid {
  border-color: red;
}

button {
  margin: 20px 30px;
  background-color: #2d1106;
  color: white;
  padding: 10px 40px;
  font-weight: bold;
  border-radius: 10px;
}

.account-link {
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: #2d1106;
  font-weight: bold;
}
